.navbar .fa {
  font-size: 1.5em;
}

.table > tbody > tr > th {
  vertical-align: middle;
}

.table > tbody > tr:hover {
  cursor: pointer;
}

span.attribute-label {
  font-weight: 500;
}

span.not-available {
  font-style: italic;
  color: #a5a5a5;
}

.panel.refunds:not(:last-of-type) {
  margin-bottom: 0;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}