.navbar .fa {
  font-size: 1.5em;
}

.table > tbody > tr > th {
  vertical-align: middle;
}

.table > tbody > tr:hover {
  cursor: pointer;
}

span.attribute-label {
  font-weight: 500;
}

span.not-available {
  font-style: italic;
  color: #a5a5a5;
}

.invoices.list-group > .list-group-item > span:not(:first-of-type) {
  margin-left: 15px;
}